
// -----------------------------
// Migration Styles
// -----------------------------


#migrated-site {


    // Stylesheet overrides
    // -----------------------------


    // Stop UI being hidden outside of the canvas
    &.edit [role="main"],
    &.edit [data-widget-type="feature"] {
        overflow: visible;
    }
    
    
    // Contaienr reset
    .template-container,
    [role="main"] {
        max-width: 100%;
        padding: 0;
    }


    &.edit [role="main"] {
        position: relative;
        z-index: 2;
    }


    // Offset feature and main zone against the sidebar
    [data-widget-type="feature"],
    [role="main"] {
        margin-left: 300px;
        width: ~"calc(100% - 300px)";
        
        @media only screen and (max-width: 1024px) {
            margin-left: 180px;
            width: ~"calc(100% - 180px)";
        }
        
        @media only screen and (max-width: 800px) {
            margin-left: 0;
            width: 100%;
        }
    }
    

    // Offset feature against the sidebar in edit mode
    &.edit [data-widget-type="feature"] {
        width: ~"calc(100% - 500px)";
        
        @media only screen and (max-width: 1024px) {
            width: ~"calc(100% - 180px)";
        }
        
        @media only screen and (max-width: 800px) {
            width: 100%;
        }
    }
    
    
    // Offset the header basket against the sidebar
    .header-basket {
        margin-left: 300px;
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
        
        @media only screen and (max-width: 800px) {
            margin-left: 180px;
        }
    }


    // Reset images stretching in logo and gallery sections
    [data-rowtype*="logo"],
    [data-rowtype*="gallery"] {
        
        .image {
            width: auto;
        }
    }


    [data-name="row"] [data-name="gallery"] .gallery-item .gallery__caption {
        margin: 0 auto;
        height: ~"calc(100% - 24px)";
        width: ~"calc(100% - 24px)";
    }
    
    
    // Brings form buttons above inputs inside of sections
    [data-name="row"] .button {
        z-index: 1;
    }
    
    
    // Fix social buttons in sections
    [data-name="row"] .social-link {
        .align-items(center);
        .flex-display;
        .justify-content(center);
        height: 35px;
        width: 35px;
    }
    
    
    // Move overlay controls away from sidebar
    .row-overlay {

        
        &:before,
        &:after {
            background: none!important;
        }
    }
    
    
    // Make slide pagination clickable inside a section
    [data-name="row"] .slide-pagination {
        z-index: 1;
    }


    // Reset margin
    .slide-navigation .pause-toggle {
        margin-top: 0;
    }




    // Migration styles
    // -----------------------------


    // Applies spacing to widgets to mimic container width
    .empty-zone,
    #page-zones__main:empty,
    #page-zones__main > .widget:not([data-name="row"]),
    .row:not(.row--width-no-padding) .row__container,
    .header-basket [data-widget-type="ecombasket"] {
        margin-left: auto;
        margin-right: auto;
        max-width: 1130px;
        width: 90%;
    }
    
    
    #page-zones__main > .widget:not([data-name="row"]):first-child {
        margin-top: 40px;
    }
    
    
    #page-zones__main > [data-name="row"] + .widget:not([data-name="row"]),
    #page-zones__main > .widget:not([data-name="row"]) + [data-name="row"]:not(:last-child) {
        margin-top: 30px;
    }
    
    
    #page-zones__main > .widget:not([data-name="row"]):last-child {
        margin-bottom: 40px;
    }
}
